<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>


		<!--This Connecttion string for WINDOWS AUTHENTICATION-->
		<!--<add name="ShriGajananDairy.Properties.Settings.GajananDairy"
            connectionString="Data Source=DESKTOP-0MVJ4Q5\SQLEXPRESS;Initial Catalog=ShriGajananDairy;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />-->

		<!-- <add name="ShriGajananDairy.Properties.Settings.GajananDairy"
            connectionString="Data Source=DESKTOP-J40DB08\MYMSSQLSERVER;Initial Catalog=ShriGajananDairy;Integrated Security=True;TrustServerCertificate=True"providerName="System.Data.SqlClient" />-->


		<!--This Connecttion string for SQL SERVER AUTHENTICATION-->
		<add name="ShriGajananDairy.Properties.Settings.GajananDairy1" connectionString="Data Source=DESKTOP-0MVJ4Q5\SQLEXPRESS;Initial Catalog=ShriGajananDairy;User ID=Admin;Password=Admin1234;TrustServerCertificate=True" providerName="System.Data.SqlClient" />

		<!--<add name="ShriGajananDairy.Properties.Settings.GajananDairy1"
            connectionString="Data Source=DESKTOP-J40DB08\MYMSSQLSERVER;Initial Catalog=ShriGajananDairy;User ID=sa;Password=p@ssw0rd;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />-->
		
		
    </connectionStrings>
	
	
</configuration>